{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% comment %} Extract first image or PDF from excerpt or content for publications {% endcomment %}
{% assign publication_image = null %}
{% assign publication_is_pdf = false %}
{% assign publication_image_size = post.image_size | default: "medium" %}
{% if post.collection == 'publications' %}
  {% if post.header.image %}
    {% assign publication_image = post.header.image %}
  {% elsif post.header.teaser %}
    {% assign publication_image = post.header.teaser %}
  {% elsif post.content %}
    {% comment %} Extract first image/PDF from markdown content using string manipulation {% endcomment %}
    {% assign content_str = post.content %}
    {% if content_str contains '![' %}
      {% assign parts = content_str | split: '![' %}
      {% if parts.size > 1 %}
        {% assign img_part = parts[1] %}
        {% if img_part contains '](' %}
          {% assign img_path = img_part | split: '](' | last | split: ')' | first %}
          {% if img_path != '' %}
            {% assign publication_image = img_path %}
          {% endif %}
        {% endif %}
      {% endif %}
    {% endif %}
    {% comment %} Also check for HTML img tags {% endcomment %}
    {% if publication_image == null and content_str contains '<img' %}
      {% assign img_start = content_str | split: '<img' | last %}
      {% if img_start contains 'src=' %}
        {% assign src_part = img_start | split: 'src=' | last | split: ' ' | first | remove: '"' | remove: "'" %}
        {% if src_part != '' %}
          {% assign publication_image = src_part %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% comment %} Check if the file is a PDF {% endcomment %}
  {% if publication_image != null %}
    {% assign file_ext = publication_image | split: '.' | last | downcase %}
    {% if file_ext == 'pdf' %}
      {% assign publication_is_pdf = true %}
    {% endif %}
  {% endif %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item {% if post.collection == 'publications' %}archive__item--publication{% endif %}" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% if post.collection == 'publications' %}
      {% comment %} Publications layout: title/content on left, image on right (if available) {% endcomment %}
      {% comment %} Note: Section headings ("Conferences and Journal Papers" and "Poster and Demo") are controlled by publications.md based on pub_type, not here {% endcomment %}
      <div class="archive__item-publication-wrapper">
        <div class="archive__item-publication-content">
          {% comment %} Title as link (not h2) {% endcomment %}
          <div class="archive__item-title-link" itemprop="headline">
            {% if post.paperurl %}
              <a href="{{ post.paperurl }}">{{ title }}</a>
            {% elsif post.link %}
              <a href="{{ post.link }}">{{ title }}</a>
            {% else %}
              <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
            {% endif %}
          </div>
          
          {% comment %} Authors {% endcomment %}
          {% if post.authors %}
            <div class="archive__item-authors">{{ post.authors }}</div>
          {% endif %}
          
          {% comment %} Venue in italics {% endcomment %}
          {% if post.venue %}
            <div class="archive__item-venue"><em>{{ post.venue }}</em></div>
          {% endif %}
          
          {% comment %} Optional award/highlight text {% endcomment %}
          {% if post.award %}
            <div class="archive__item-award"><em style="color: red;">{{ post.award }}</em></div>
          {% endif %}
        </div>
        
        {% comment %} Abstract figure on the right (image or PDF) {% endcomment %}
        <div class="archive__item-publication-image archive__item-image--{{ publication_image_size }}">
          {% if publication_image %}
            {% if publication_is_pdf %}
              {% comment %} Display PDF in iframe {% endcomment %}
              {% assign pdf_url = publication_image %}
              {% unless pdf_url contains "://" %}
                {% if pdf_url contains "/" %}
                  {% assign pdf_url = pdf_url | prepend: base_path %}
                {% else %}
                  {% assign pdf_url = pdf_url | prepend: "/images/" | prepend: base_path %}
                {% endif %}
              {% endunless %}
              <div class="archive__item-pdf-container">
                <iframe src="{{ pdf_url }}#toolbar=0&navpanes=0&scrollbar=0" 
                        type="application/pdf" 
                        class="archive__item-pdf-iframe"
                        title="{{ title }} PDF">
                </iframe>
                <a href="{{ pdf_url }}" target="_blank" class="archive__item-pdf-link" title="Open PDF in new tab">
                  <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
              </div>
            {% else %}
              {% comment %} Display regular image {% endcomment %}
              <img src=
                {% if publication_image contains "://" %}
                  "{{ publication_image }}"
                {% elsif publication_image contains "/" %}
                  "{{ publication_image | prepend: base_path }}"
                {% else %}
                  "{{ publication_image | prepend: "/images/" | prepend: base_path }}"
                {% endif %}
                alt="{{ title }}">
            {% endif %}
          {% else %}
            {% comment %} Placeholder if no image/PDF found - links to main page {% endcomment %}
            <a href="{{ base_path }}/" class="archive__item-image-placeholder" title="Back to home">
              <span>Home</span>
            </a>
          {% endif %}
        </div>
      </div>
    {% else %}
      {% comment %} Default layout for non-publications {% endcomment %}
      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      
      {% if post.read_time %}
        <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
      {% endif %}

      {% if post.collection == 'teaching' %}
        <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
      {% elsif post.date %}
       <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
      {% endif %}

      {% if post.excerpt and site.read_more != 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
      {% elsif post.excerpt and site.read_more == 'enabled' %}
      <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
      {% endif %}
    {% endif %}
    
    <!-- {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}"><u>{{ post.paperurl }}</u></a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p>Download <a href=" {{ post.paperurl }} "><u>here</u></a></p>
    {% endif %} -->

  </article>
</div>
