/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;

      img {
        box-shadow: 0 0 10px rgba(#000, 0.25);
      }
    }
  }
}

.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: $type-size-5;
  color: mix(#fff, $gray, 25%);
  border-bottom: 1px solid $border-color;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: $sans-serif-narrow;

  a + a {
    opacity: 0.5;
  }
}

/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-excerpt {
  margin-top: 0;
  font-size: $type-size-6;

  & + p {
    text-indent: 0;
  }
}

/* Publication-specific layout: title/content on left, image on right */
.archive__item--publication {
  .archive__item-publication-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 1.5em;

    @include breakpoint($small) {
      gap: 20px;
    }
  }

  .archive__item-publication-content {
    flex: 1;
    min-width: 250px;
  }

  .archive__item-title-link {
    margin-bottom: 0.5em;
    
    a {
      font-size: 1.1em;
      font-weight: 600;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .archive__item-authors {
    margin-bottom: 0.25em;
    line-height: 1.5;
  }

  .archive__item-venue {
    margin-bottom: 0.25em;
  }

  .archive__item-award {
    margin-bottom: 0.5em;
  }

  .archive__item-publication-image {
    flex: 0 0 120px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    min-height: 120px;
    
    img {
      display: block;
      width: 100%;
      max-width: 120px;
      height: auto;
      border-radius: 8px;
      transition: transform 0.3s ease;
    }

    &:hover img {
      transform: scale(1.02);
    }

    .archive__item-image-placeholder {
      width: 120px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f0f0f0;
      border-radius: 8px;
      color: #999;
      font-size: 0.85em;
    }

    /* Adjustable image sizes */
    &.archive__item-image--small {
      flex: 0 0 100px;
      
      img {
        max-width: 100px;
      }
      
      @include breakpoint($small) {
        flex: 0 0 100%;
        max-width: 200px;
        margin: 0 auto;
        
        img {
          max-width: 200px;
        }
      }
    }

    &.archive__item-image--medium {
      flex: 0 0 120px;
      
      img {
        max-width: 120px;
      }
      
      @include breakpoint($small) {
        flex: 0 0 100%;
        max-width: 250px;
        margin: 0 auto;
        
        img {
          max-width: 250px;
        }
      }
    }

    &.archive__item-image--large {
      flex: 0 0 180px;
      
      img {
        max-width: 180px;
      }
      
      @include breakpoint($small) {
        flex: 0 0 100%;
        max-width: 300px;
        margin: 0 auto;
        
        img {
          max-width: 300px;
        }
      }
    }

    &.archive__item-image--xlarge {
      flex: 0 0 240px;
      
      img {
        max-width: 240px;
      }
      
      @include breakpoint($small) {
        flex: 0 0 100%;
        max-width: 400px;
        margin: 0 auto;
        
        img {
          max-width: 400px;
        }
      }
    }
  }
}

.archive__item-teaser {
  border-radius: $border-radius;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.archive__item:hover {
  .archive__item-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }

  .archive__item-title {
    text-decoration: underline;
  }
}


/*
   List view
   ========================================================================== */

.list__item {
  @include breakpoint($medium) {
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($large) {
    padding-right: $right-sidebar-width;
  }

  @include breakpoint($x-large) {
    padding-right: $right-sidebar-width-wide;
  }

  .page__meta {
    margin: 0 0 4px;
  }
}


/*
   Grid view
   ========================================================================== */

.grid__item {
  margin-bottom: 2em;

  .page__meta {
    margin: 0 0 4px;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;
  }

  @include breakpoint($small) {
    @include gallery(5 of 10);
    .archive__item-teaser {
      max-height: 200px;
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* reset before mixin does its thing*/
    margin-right: 0; /* reset before mixin does its thing*/
    @include gallery(2.5 of 10);

    .archive__item-teaser {
      max-height: 120px;
    }

    .archive__item-excerpt {
      display: block;
      font-size: $type-size-6;
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.feature__item {
  margin-bottom: 2em;
  font-size: 1.25rem;

  @include breakpoint($small) {
    margin-bottom: 0;
    @include gallery(4 of 12);

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      .archive__item-teaser {
        @include span(5 of 12);
      }

      .archive__item-body {
        @include span(7 of 12 last);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--right {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        @include span(5 of 12 rtl);
      }

      .archive__item-body {
        @include span(7 of 12 last rtl);
        @include prefix(0.5 of 12);
        @include suffix(1 of 12);
      }
    }
  }

  &--center {
    @include full();
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}
